# Note: You might prefer to install the distribution supplied versions
# of numpy and scipy instead of using pip
#numpy
#scipy

# Note: PySLID has several additional dependencies, including mahotas
# which requires the freeimage library.

git+git://github.com/icaoberg/pyslid.git@master

git+git://github.com/icaoberg/ricerca.git@master
