<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Searcher</title>
</head>

<body>
<h1>OMERO.searcher demonstration page for reviewers</h1>
<hr>
<h2>Access and Login</h2>
<p>
<p><a href="http://omepslid2.compbio.cs.cmu.edu/webclient">Go to login page</a><!--<br>Username: demo_nm
<br>Password: nature@u0816-->

<p>This contains an OMERO database with approximately 16,000 images of three marker proteins acquired by automated microscopy.  They are organized into datasets by well and date, and each dataset begins with a string identifying the marker (“ER”, “Mito” and “Nucleus”).  To use the content-based image search, first click the "DATA" button (upper right of page) to show all of the datasets. Select a dataset, select an image within the dataset, and click the magnifying glass icon in the upper left corner. Images with similar patterns will be retrieved.  Note that typically all of the images returned are of the same type as the query.  The number of retrieved images can be changed in the “Content Search” box. The search can be refined by selecting additional positive or negative images from results page and clicking on “Search by image content” in the “Content Search” box.
<p>
<p>This account has been set up for testing of the tool only.  Please do not try to delete images or import new images onto this server.
<p>
<p>
<h2>Installation</h2>
<p>
<p><a href="http://murphylab.web.cmu.edu/software/searcher/">Download installer</a>
<p>
<p>This will install the searcher on top of a previously installed database running OMERO 4.3.3.
<hr>
</body> 
</html>
