{% extends "webclient/search/search_details.html" %}
{% load i18n %}
{% load common_filters %}

{% block search_results %}

        <!-- from search_details.html -->
    <div>

        {# dataTable is automatically sorted by the second column #}
        <table id="dataTable" class="tablesorter">
            <thead> 
                <tr> 
                    <th width="10%">{% trans "Image" %}</th>
                    <th width="5%">Rank</th>
                    <th width="10%">C.Z.T</th>
                    <th width="30%">{% trans "Name" %}</th>
                    <th width="10%">{% trans "Negative" %}</th>
                    <th width="10%">{% trans "Positive" %}</th>
                </tr> 
            </thead>
            <tbody>
                {% for c in images %}
                    <tr id="image-{{ c.id }}-{{ c.superid }}" class="{{ c.getPermsCss }}">
                        <td class="action">
                            <img src="{% url render_thumbnail_resize 32 c.id  %}" alt="image" title="{{c.id}}"/>
                            <input name="superIds" style="display:none" value="{{ c.superid }}" type="text" />

                        </td>
                        <td class="ranking">{{ c.ranki }}</td>
                        <td>
                            <div style="position:relative">
                                <input style="display:none" type="text" name="czt-{{ c.id }}" value="{{ c.czt }}" size="3" />
                                <span class="cztEdit">{{ c.czt }}</span>
                            </div>
                        </td>
                        <td>{{ c.name }}</td>
                        <td align="center">
                            <input type="radio" name="posNeg-{{ c.superid }}" value="neg" />
                            <!-- 'type' span shown when we move row to left panel -->
                            <span class="posNegType" style="display:none">+</span>
                        </td> 
                        <td align="center">
                            <input type="radio" name="posNeg-{{ c.superid }}" value="pos" />
                        </td> 
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div style="text-align:right">
            {{ performance }}
        </div>
    </div>

{% endblock %}
