{% extends "webclient/search/search.html" %}
{% load url from future %}
{% load i18n %}

{% block script %}
    {{ block.super }}

    <script>

        $(function(){

            // When the user clicks "Do Search", we update the form with images
            // chosen from central panel. Then submit the form.
            $("#doSearch").click(function(){
                var $searchImagesTable = $("#searchImages"),
                    $tbody = $("<tbody>");
                // TODO: pick selected images from center panel and add to left form.
                $("#content_details").find("input[type=radio]:checked").each(function(){
                    var $this = $(this),
                        $tr = $this.parent().parent(),
                        type = $this.attr("value") == "pos" ? "+" : "-";
                    $tr.find("input[type=radio]").hide();   // Hide posNeg radio buttons
                    $tr.find(".posNegType").text(type).show();
                    $tr.find(".ranking").hide(); // Hide ranking
                    $("td:last", $tr).hide();
                    $tbody.append($tr);
                });
                $searchImagesTable.prepend($tbody);

                $("#content_search").submit();
            });

            $("#content_search").submit(function() {
                $("div#content_details").append(
                    '<div class="loading_center" style="position:absolute;width:100%;top:0px;background-color:rgba(255,255,255,0.75);"><p>Loading... please wait.</p><img src ="{% static "webgateway/img/spinner_big.gif" %}"/></div>'
                ).scrollTop(0).scrollLeft(0);
            });

            // Form ajax handling - load results to central panel.
            $("#content_search").ajaxForm({
                success: function(html) {
                    $("#content_details").html(html);
                },
            })
            .submit();  // on initial load, do first search by submitting immediately


            $('input.search_refine_item').change(function() {
                var all_checked = true;
                var parent = $(this).parent().parent().parent()
                parent.children().children()
                    .children('input.search_refine_item').each(function() {
                        all_checked = all_checked && this.checked;
                    });
                parent.find('input.search_refine_all').prop('checked', all_checked);
            });

            $('input.search_refine_all').change(function() {
                var all_checked = this.checked;
                $(this).parent().parent()
                    .children().children().children('input.search_refine_item')
                    .each(function() {
                        this.checked = all_checked;
                    });
            });

            $('input.search_refine_clear_all').click(function() {
                $(this).parent().find('input.search_refine_all')
                    .each(function() {
                        this.checked = false;
                    }).change();
            });


            $(".search_refine_toggle").click(function(event){
                event.preventDefault();
                $(this).next().slideToggle(500, function(){
                    $(this).prev().text($(this).is(':visible')?
                        '[\u2013] hide' : '[+] show');
                })
            });

            // Hide by default

            $(".search_refine_toggle").next().hide(0, function(){
                $(this).prev().text('[+] show');
            });


            $("#enable_search_refines").change(function() {
                if (this.checked) {
                    $(".search_refine_group").slideDown();
                }
                else {
                    $(".search_refine_group").slideUp();
                }
            });
            if (!$("#enable_search_refines").prop('checked')) {
                $(".search_refine_group").hide();
            }

            // Finally we need to set the initial state of the parent 'All'
            // checkboxes. For now just set a change event on every checkbox.
            // TODO: We should only trigger a change even once per group
            $('input.search_refine_item').trigger('change');

        });

    </script>

    <style type="text/css">
        table.bk_table {
            border-width: 2px;
            border-spacing: ;
            border-style: solid none solid;;
            border-color: gray;
            border-collapse: separate;
        }
        table.bk_table th {
            text-align: center;
            border-width: 1px;
            border-style: none none outset;
            -moz-border-radius: ;
        }
        table.bk_table td {
            text-align: center;
            -moz-border-radius: ;
        }
        .content_search>div {
            padding: 4px 0;
        }
        .content_search td {
            vertical-align: middle;
            padding: 5px 0px;
        }
        .content_search th {
            color: #444C54;
            font-weight: bold;
            text-align: left;
        }
    </style>
{% endblock %}


{% block left %}


<div id="user_selection">

{% include "webclient/base/includes/group_user_dropdown.html" %}
    
</div>


<div id="searching">
    <div class="left_panel_inner">

    <h1>{% trans "Search again with additional image(s)" %}</h1>


    <form id="content_search" class="content_search" method="POST"
        action="{% url 'contentsearch' %}">

        <div>
            <label>Feature-set:
                <input name="featureset_Name" value="{{ fset }}" type="hidden" />
            </label>
            {{ fset }}
        </div>

        <div>
            <label>Retrieved images:
                <select name="NumRetrieve">
                    <option {% ifequal numret '10' %}selected='true'{% endifequal %} />10</option>
                    <option {% ifequal numret '20' %}selected='true'{% endifequal %} />20</option>
                    <option {% ifequal numret '100' %}selected='true'{% endifequal %} />100</option>
                    <option {% ifequal numret '500' %}selected='true'{% endifequal %} />500</option>
                </select>
            </label>
        </div>

        <div>
            <label>
                <input type="checkbox" id="enable_search_refines"
                    {% if enable_filters %}checked="checked"{% endif %}
                    name="enable_filters" value="enable" />
                Enable additional search filters (may slow down queries).
            </label>
        </div>

        <div class="search_refine_group">
            <label>Filter by user:</label>
            <a href="#" title="Show/Hide" class="search_refine_toggle"></a>
            <div style="margin-left:20px">
                <label>
                    <input type="checkbox" name="limit_users_all"
                        class="search_refine_all" value="All" />
                    All
                </label>

                {% for user in users %}
                <div style="margin-left:20px">
                    <label>
                        <input type="checkbox"
                            {% if user.2 %}checked="checked"{% endif %}
                            class="search_refine_item"
                            name="limit_users" value="{{user.0}}" />
                        {{user.1}}
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="search_refine_group">
            <label>Filter by project/dataset:</label>
            <a href="#" title="Show/Hide" class="search_refine_toggle"></a>
            <div style="margin-left:20px">
                <input type="button" class="search_refine_clear_all"
                    value="Deselect all" />

                {% for proj in projects %}
                <div>
                    <label>
                        <input type="checkbox"
                            class="search_refine_all" name="project"
                            value="{{proj.0}}" />
                        {{proj.1}}
                    </label>

                    {% for dset in proj.2 %}
                    <div style="margin-left:20px">
                        <label>
                            <input type="checkbox"
                                {% if dset.2 %}checked="checked"{% endif %}
                                class="search_refine_item" name="limit_datasets"
                                value="{{dset.0}}" />
                            {{dset.1}}
                        </label>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}

                <div>
                    <label>
                        <input type="checkbox"
                            class="search_refine_all" name="project"
                            value="[No project]" />
                        [No project]
                    </label>

                    {% for dset in datasets %}
                    <div style="margin-left:20px">
                        <label>
                            <input type="checkbox"
                                {% if dset.2 %}checked="checked"{% endif %}
                                class="search_refine_item" name="limit_datasets"
                                value="{{dset.0}}" />
                            {{dset.1}}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="search_refine_group">
            <label>Filter by screen/plate:</label>
            <a href="#" title="Show/Hide" class="search_refine_toggle"></a>
            <div style="margin-left:20px">
                <input type="button" class="search_refine_clear_all"
                    value="Deselect all" />

                {% for screen in screens %}
                <div>
                    <label>
                        <input type="checkbox"
                            class="search_refine_all" name="screen"
                            value="{{screen.0}}" />
                        {{screen.1}}
                    </label>

                    {% for plate in screen.2 %}
                    <div style="margin-left:20px">
                        <label>
                            <input type="checkbox"
                                {% if plate.2 %}checked="checked"{% endif %}
                                class="search_refine_item" name="limit_plates"
                                value="{{plate.0}}" />
                            {{plate.1}}
                        </label>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}

                <div>
                    <label>
                        <input type="checkbox"
                            class="search_refine_all" name="screen"
                            value="[No screen]" />
                        [No screen]
                    </label>

                    {% for plate in plates %}
                    <div style="margin-left:20px">
                        <label>
                            <input type="checkbox"
                                {% if plate.2 %}checked="checked"{% endif %}
                                class="search_refine_item" name="limit_plates"
                                value="{{plate.0}}" />
                            {{plate.1}}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="search_refine_group">
            <label>Filter by channel index:</label>
            <a href="#" title="Show/Hide" class="search_refine_toggle"></a>
            <div style="margin-left:20px">
                <label>
                    <input type="checkbox" name="limit_channelidxs_all"
                        class="search_refine_all" value="All" />
                    All
                </label>

                {% for ch in channelidxs %}
                <div style="margin-left:20px">
                    <label>
                        <input type="checkbox"
                            {% if ch.2 %}checked="checked"{% endif %}
                            class="search_refine_item"
                            name="limit_channelidxs" value="{{ch.0}}" />
                        {{ch.1}}
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="search_refine_group">
            <label>Filter by channel name:</label>
            <a href="#" title="Show/Hide" class="search_refine_toggle"></a>
            <div style="margin-left:20px">
                <label>
                    <input type="checkbox" name="limit_channelnames_all"
                        class="search_refine_all" value="All" />
                    All
                </label>

                {% for ch in channelnames %}
                <div style="margin-left:20px">
                    <label>
                        <input type="checkbox"
                            {% if ch.2 %}checked="checked"{% endif %}
                            class="search_refine_item"
                            name="limit_channelnames" value="{{ch.0}}" />
                        {{ch.1}}
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>


        <input style="float:right" id="doSearch" type="button" value="Refine Results"/>

        <div style="clear:both; padding:0px"></div>
        <hr/>

        <table id="searchImages">
            <thead> 
                <tr> 
                    <th width="10%">{% trans "Image" %}</th>
                    <th style="display:none"></th>
                    <th width="10%">C.Z.T</th>
                    <th width="30%">{% trans "Name" %}</th>
                    <th width="10%">{% trans "Type" %}</th>
                </tr> 
            </thead>
            <tbody>
                {% for c in images %}
                    <tr>
                        <td class="action">
                            <img src="{% url 'render_thumbnail_resize' 32 c.id  %}" alt="image" title="{{c.id}}"/>
                            <input name="superIds" style="display:none" value="{{c.superid}}" type="text" />

                        </td>
                        <td style="display:none"></td>
                        <td>
                            <span id="czt-{{ c.id }}">{{ c.czt }}</span>
                        </td>
                        <td>{{ c.name }}</td>
                        <td align="center">
                            <!-- hidden input for form submission -->
                            <input name="posNeg-{{ c.superid }}" style="display:none"
                                value="{% if c.posNeg %}pos{% else %}neg{% endif %}" />
                            {% if not c.hasFeats %}No features{% else %}{% if c.posNeg %}+{% else %}-{% endif %}{% endif %}
                        </td> 
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>

    <hr style="clear:both"/>

    <form id="export_search" class="content_search" method="POST"
        action="{% url 'exportsearch' %}">
        <label for="doExport">
            Export the most recent search results to a CSV file
        </label>
        <input style="float:right" id="doExport" type="submit"
            value="Export results" />
    </form>

    </div>

</div>


{% endblock %}
